body{
    font-family: poppin,Tahoma,Arial,\5FAE\8F6F\96C5\9ED1,sans-serif;
    background-color: #525252;
}

.player_bg{
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../img/T001R300x300M000003qqeEQ4OJNtp.jpg") 50% / cover no-repeat;
    opacity: .6;
    filter: blur(65px);
}

a{
    color: rgba(255, 255, 255, .8);
    text-decoration: none;
}

.header{
    height: 48px;
    position: relative;
    z-index: 3;
    /*background-color: #525252;*/
}

.logo{
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    opacity: .3;
}

.logo:hover{
    opacity: 1;
}

.header .player_login{
    position: absolute;
    right: 63px;
    top: 20px;
    line-height: 28px;
    display: flex;
}

.player_login .player_login_guide{
    font-size: 14px;
    margin-right: 9px;
    color: #fff;
}

.player_login_guide_btn{
    display: inline-block;
    font-size: 15px;
    margin-right: 26px;
    height: 28px;
    padding: 0 17px;
    border-radius: 28px;
    background-color: #31c27c;
    color: #fff;
}

.player_login_guide_btn:hover{
    background-color: #2caf6f;
}

.player_login_guide_icon{
    display: inline-block;
    vertical-align: middle;
    width: 13px;
    height: 14px;
    background-position: -160px -320px;
}

.register a:first-child{
    margin-right: 11px;
}

.register a{
    color: #fff;
    font-size: 14px;
    opacity: .3;
}

.register a:hover{
    opacity: 1;
}

.player_main{
    position: relative;
    z-index: 3;
    /*background-color: #727d75;*/
    margin: 17px 6% 0 6%;
}

.song_list_toolbar{
    display: flex;
}

.mod_btn{
    border: 1px solid rgba(201, 201, 201, 0.2);
    opacity: .8;
    border-radius: 2px;
    font-size: 14px;
    width: 122px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    color: #fff;
}

.mod_btn:hover{
    border-color: rgba(255, 255, 255, 1);
    opacity: 1;
}

.mod_btn + .mod_btn{
    margin-left: 6px;
}

.mod_btn > i{
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    opacity: .6;
}

.mod_btn:hover > i{
    opacity: 1;
}

.mod_btn_icon_like{
    background-position: -60px -20px;
}

.mod_btn_icon_add{
    background-position: -20px -20px;
}

.mod_btn_icon_download{
    background-position: -40px -240px;
}

.mod_btn_icon_delete{
    background-position: -100px -20px;
}

.mod_btn_icon_deleteall{
    background-position: -41px -301px;
}

.song_list{
    width: 71%;
    height: 361px;
    color: rgba(255, 255, 255, .8);
    /*background-color: dodgerblue;*/
    font-size: 14px;
    margin-top: 16px;
    overflow: hidden;
}

.song_list_item{
    height: 50px;
    line-height: 50px;
    display: flex;
    align-items: center;
}

.border_t_b{
    border-top: 1px solid rgba(255,255,255,.02);
    border-bottom: 1px solid rgba(255,255,255,.02);
}

.song_list_check{
    width: 14px;
    height: 14px;
    border: 1px solid rgba(225,225,225,.2);
    background-position: -1000px;
}

.song_list_checked{
    background-position: -60px -80px;
}

.song_list_number{
    display: inline-block;
    width: 32px;
    text-align: right;
}

.song_list_header_name{
    margin-left: 43px;
    width: 450px;
}

.song_list_item_name{
    margin-left: 10px;
    width: 250px;
}

.song_list_item_menu{
    width: 200px;
}

.list_menu_item_play, .list_menu_item_pause, .list_menu_item_add, .list_menu_item_down, .list_menu_item_share{
    display: none;
    width: 36px;
    height: 36px;
    vertical-align: middle;
    margin-right: 10px;
}

.song_list_item_delete{
    display: none;
    width: 36px;
    height: 36px;
    vertical-align: middle;
    background-position: -80px -160px;
}

.song:hover .song_list_item_time,
.song.hover .song_list_item_time{
    display: none;
}

.song_list_item_delete:hover{
    background-position: -120px -160px;
}

.list_menu_item_play{
    background-position: -80px 0;
}

.song:hover .list_menu_item_play,
.song:hover .list_menu_item_pause,
.song:hover .list_menu_item_add,
.song:hover .list_menu_item_down,
.song:hover .list_menu_item_share,
.song:hover .song_list_item_delete,
.song.hover .list_menu_item_play,
.song.hover .list_menu_item_pause,
.song.hover .list_menu_item_add,
.song.hover .list_menu_item_down,
.song.hover .list_menu_item_share,
.song.hover .song_list_item_delete{
    display: inline-block;
}

.list_menu_item_play:hover{
    background-position: -120px 0;
}

.list_menu_item_pause{
    background-position: -80px -200px;
}

.list_menu_item_pause:hover{
    background-position: -120px -200px;
}

.list_menu_item_add{
    background-position: -80px -80px;
}

.list_menu_item_add:hover{
    background-position: -120px -80px;
}

.list_menu_item_down{
    background-position: -80px -120px;
}

.list_menu_item_down:hover{
    background-position: -120px -120px;
}

.list_menu_item_share{
    background-position: -80px -40px;
}

.list_menu_item_share:hover{
    background-position: -120px -40px;
}

.song_list_header_author, .song_list_item_author{
    width: 200px;
}

.song_list_item_author > a:hover{
    color: rgba(255, 255, 255, 1);
}

.song_list_content > li{
    border-bottom: 1px solid rgba(255,255,255,.02);
}

.song_info{
    position: absolute;
    top: 0;
    right: 0;
    width: 29%;
    height: 100%;
    color: rgba(255, 255, 255, .8);
    font-size: 14px;
    text-align: center;
    /*background-color: #78baf6;*/
}

.song_info a{
    color: rgba(255, 255, 255, .8);
}

.song_info a:hover{
    color: rgba(255, 255, 255, 1);
}

.song_info_cover{
    display: block;
    margin: 0 auto;
    width: 233px;
    height: 186px;
    background: url("../img/album_cover_player.png") 32px 0 no-repeat;
}

.song_info_pic{
    width: 186px;
    height: 186px;
}

.song_info_name, .song_info_singer, .song_info_album{
    height: 28px;
    line-height: 28px;
    text-overflow: ellipsis;
}

.song_info_name{
    margin-top: 15px;
}

.song_info_lyric{
    width: 300px;
    height: 47px;
    margin: 15px auto 0 auto;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(to bottom,rgba(255,255,255,0) 0,rgba(255,255,255,.6) 15%,
    rgba(255,255,255,1) 25%,rgba(255,255,255,1) 75%,
    rgba(255,255,255,.6) 85%,rgba(255,255,255,0) 100%);
    /*background-color: #666666;*/
}

.song_info_lyric_inner{
    line-height: 34px;
}

.footer{
    display: flex;
    position: absolute;
    z-index: 3;
    bottom: 0;
    left: 0;
    right: 0;
    height: 67px;
    /*background-color: #525252;*/
}

.footer_left_control{
    width: 280px;
    height: 35px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    /*background-color: #1495ff;*/
}

.footer_left_control > a{
    opacity: .8;
}

.footer_left_control > a:hover{
    opacity: 1;
}

.btn_prev{
    display: inline-block;
    width: 19px;
    height: 20px;
    margin-left: 77px;
    background-position: 0 -30px;
}

.btn_play{
    display: inline-block;
    width: 21px;
    height: 29px;
    margin-left: 46px;
    background-position: 0 0;
}

.btn_play_pause{
    background-position: -30px 0;
}

.btn_next{
    display: inline-block;
    width: 19px;
    height: 20px;
    margin-left: 46px;
    background-position: 0 -52px;
}

.footer_middle{
    position: relative;
    width: 476px;
    height: 35px;
    font-size: 14px;
    color: rgba(255, 255, 255, .8);
    /*background-color: #6fc2ff;*/
}

.footer_middle_info{
    padding-right: 90px;
    height: 21px;
    line-height: 21px;
    /*background-color: #ff6600;*/
}

.footer_middle_info > a{
    color: rgba(255, 255, 255, .8);
}

.footer_middle_info > a:hover{
    color: rgba(255, 255, 255, 1);
}

.footer_middle_time{
    position: absolute;
    right: 0;
    top: 0;
    width: 90px;
    height: 21px;
    line-height: 21px;
    box-sizing: border-box;
    padding-left: 4px;
    /*background-color: #fc4f00;*/
}

.footer_middle_progress{
    width: 100%;
    height: 14px;
    padding-top: 6px;
    box-sizing: border-box;
    cursor: pointer;
    /*background-color: #ffbf00;*/
}

.footer_progress_load{
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, .2);
}

.footer_progress_play{
    position: relative;
    top: -2px;
    width: 0;
    height: 2px;
    background-color: rgba(255, 255, 255, .7);
}

.footer_progress_dot{
    display: inline-block;
    position: absolute;
    top: -4px;
    right: -4px;
    width: 10px;
    height: 10px;
    background-position: 0 -170px;
}

.footer_right_control{
    width: 526px;
    height: 35px;
    line-height: 35px;
    /*background-color: #1495ff;*/
}

.footer_right_control a{
    opacity: .8;
}

.footer_right_control a:hover{
    opacity: 1;
}

.btn_style{
    display: inline-block;
    width: 26px;
    height: 25px;
    vertical-align: middle;
    margin-left: 43px;
    background-position: 0 -205px;
}

.btn_like{
    display: inline-block;
    width: 23px;
    height: 21px;
    vertical-align: middle;
    margin-left: 24px;
    background-position: 0 -96px;
}

.btn_down{
    display: inline-block;
    width: 22px;
    height: 21px;
    vertical-align: middle;
    margin-left: 24px;
    background-position: 0 -120px;
}

.btn_comment{
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-left: 24px;
    background-position: 0 -430px;
}

.btn_comment:hover{
    background-position: 0 -490px;
}

.comment_numbers{
    position: absolute;
    top: -3px;
    right: -10px;
    line-height: 8px;
}

.comment_num_9{
    display: inline-block;
    width: 6px;
    height: 9px;
    background-position: -40px -210px;
}

.btn_comment:hover .comment_num_9{
    background-position: -40px -230px;
}

.comment_num_add{
    display: inline-block;
    width: 6px;
    height: 8px;
    background-position: -25px -125px;
}

.btn_comment:hover .comment_num_add{
    background-position: -25px -175px;
}

.btn_mode{
    display: inline-block;
    width: 74px;
    height: 26px;
    vertical-align: middle;
    margin-left: 24px;
    background-position: 0 -282px;
}

.player_voice{
    float: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 112px;
    height: 15px;
    margin-top: 10px;
    margin-right: 79px;
    cursor: pointer;
}

.btn_voice{
    display: inline-block;
    width: 26px;
    height: 21px;
    background-position: 0 -144px;
}

.btn_voice_mute{
    background-position: 0 -182px;
}

.voice_progress{
    width: 80px;
    height: 2px;
    background-color: rgba(255,255,255,.1);
}

.voice_progress_play{
    position: relative;
    width: 20%;
    height: 2px;
    background-color: rgba(255,255,255,.7)
}
/*精灵图相关*/
.sprite{
    background-image: url("../img/icon_sprite.png");
}

.sprite_song_control{
    background-image: url("../img/icon_list_menu.png");
}

.sprite_player{
    background-image: url("../img/player.png");
}

.sprite_comment{
    background-image: url("../img/comment.png");
}

._mCS_1 .mCSB_dragger .mCSB_dragger_bar{
    width: 8px;
}