body{
    font-family: poppin,Tahoma,Arial,\5FAE\8F6F\96C5\9ED1,sans-serif;
}

a{
    text-decoration: none;
}

.header{
    height: 48px;
    position: relative;
    background-color: #525252;
}

.header .logo{
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}

.header .player_login{
    position: absolute;
    right: 63px;
    top: 20px;
    line-height: 28px;
    display: flex;
}

.player_login .player_login_guide{
    font-size: 14px;
    margin-right: 9px;
    color: #fff;
}

.player_login .player_login_guide_btn{
    display: inline-block;
    font-size: 15px;
    margin-right: 26px;
    height: 28px;
    padding: 0 17px;
    border-radius: 28px;
    background-color: #31c27c;
    color: #fff;
}

.register a:first-child{
    margin-right: 11px;
}

.register a{
    color: #fff;
    font-size: 14px;
}

.player_main{
    position: relative;
    background-color: #727d75;
    margin: 17px 6% 0 6%;
}

.player_main .song_list_toolbar{
    display: flex;
}

.song_list_toolbar .mod_btn{
    border: 1px solid #c9c9c9;
    border-radius: 2px;
    font-size: 14px;
    height: 38px;
    line-height: 38px;
    width: 122px;
    text-align: center;
    color: #fff;
}

.song_list_toolbar .mod_btn + .mod_btn{
    margin-left: 6px;
}

.mod_btn i{
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.mod_btn .mod_btn_icon_like{
    background-position: -60px -20px;
}

.mod_btn .mod_btn_icon_add{
    background-position: -20px -20px;
}

.mod_btn .mod_btn_icon_download{
    background-position: -40px -240px;
}

.mod_btn .mod_btn_icon_delete{
    background-position: -100px -20px;
}

.mod_btn .mod_btn_icon_deleteall{
    background-position: -41px -301px;
}

.player_main .song_list{
    width: 71%;
    height: 361px;
    background-color: dodgerblue;
    margin-top: 38px;
}

.song_list .song_list_header{
    display: flex;
    height: 50px;
    line-height: 50px;
}

.song_list_checkbox{
    margin: 0;
}

.song_list_header_name{
    margin-left: 47px;
    width: 450px;
}

.song_list_header .song_list_header_author{
    width: 200px;
}

/*.song_list_header_time{*/
/*    margin-left: 168px;*/
/*}*/

.border_t_b{
    border-top: 1px solid rgba(255, 255, 255, .02);
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.song_list_content > li{
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.player_main .song_info{
    position: absolute;
    top: 0;
    right: 0;
    width: 29%;
    height: 100%;
    background-color: #78baf6;
}

.song_info_cover{
    display: block;
    margin: 0 auto;
    width: 209px;
    height: 186px;
    background: url("../img/album_cover_player.png") 8px 0;
}

.song_info_pic{
    width: 186px;
    height: 186px;
}

.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 79px;
    background-color: #525252;
}

/*精灵图相关*/
.sprite{
    background-image: url("../img/icon_sprite.png");
}

.player_login_guide_icon{
    display: inline-block;
    vertical-align: middle;
    width: 13px;
    height: 14px;
    background-position: -160px -320px;
}